
.slider-container {
    width: 80%;
    margin: auto;
    margin-bottom: 25px;
  }
  
  .custom-swiper {
    border-radius: 10px;
  }
  
  .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
  }
  
  .slide-content {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    position: relative;
    border-radius: 10px;
  }
  
  .overlay {
    position: absolute;
    bottom: 10px;
    left: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 5px;
    color: white;
  }
  
  @media screen and (max-width: 506px) {
    .swiper-slide {
      height:300px;

    }
   
    
  }