.home-container{
position: relative;
width: 100%;
height: auto;
overflow: hidden;

}

.home-banner{
    position: relative;
    width: 100%;
    background-size: cover;
    background-position: center;
}

.home-content{
    padding: 50px 180px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}
@media (max-width: 506px) {
    .home-content{
        padding: 10px 50px;
       flex-direction: column;
        align-items: center;
        gap: 10px;
        text-align: center;
        justify-content: center;
    }
    .homecontent-left img{
       width: 70%;
    }

}